@model ComfyPillow.Models.PillowTypesViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Pillows" asp-action="Index" method="get">
    
    <p>

        <select asp-for="PillowTypes" asp-items="Model.Type">
            <option value="">All</option>
        </select>

        
        metrial: <input type="text" name="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pillows[0].material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pillows[0].Types)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pillows[0].size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pillows[0].color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pillows[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pillows[0].Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Pillows)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Types)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
